@import url('https://fonts.googleapis.com/css2?family=Kufam&family=Ubuntu&display=swap');

/* tags */
body {
    margin: 0;

    background-image: url('/assets/images/background.png');
    background-clip: content-box;

    max-width: 100%;

    --bg-color: #2F2F2F;
    --text-color: #A5A5A5;
    --highlight-color-1: #D64933;
    --highlight-color-2: #3066BE;
    --accent-color-1: #FAF33E;
    --accent-color-2: #CA4000;

    font-family: 'Ubuntu', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    max-width: 100%;

    background-color: var(--bg-color);
}

header > a > img {
    object-fit: contain;
    height: 2em;
    margin: 6px;
}

main {
    width: 100vw;
    max-width: 100%;
    min-height: calc(100vh - 12px);

    margin: 6px
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kufam', cursive;
}
/* classes */
.matchupContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    max-height: calc(100vh - 12px);
}

.matchupContainer > h1 {
    font-size: 2em;
    margin: 6px;

    color: var(--text-color);
}

.matchupSelector {
    display: flex;
    flex-direction: column;
    width: 60vw;
    max-width: 100%;
    /* height: calc(calc(100vh - 12px) / 2); */
    max-height: calc(calc(calc(100vh - 12px) * 0.45) - 2em - 12px);

    padding: 0;
    border: none;

    color: var(--bg-color);

    transition: transform 0.25s ease;
}

.matchupSelector.hide:first-child {
    transform: translateX(100vw);
}

.matchupSelector.hide:last-child {
    transform: translateX(-100vw);
}

.matchupSelector > img {
    object-fit: contain;
    height: calc(calc(calc(calc(100vh - 12px) / 2) - 2em - 12px) * 0.70);
}

.leaderboardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 85vw;
    max-width: 85vw;
    overflow: hidden;

    margin: auto;
}

.leaderboardObject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 20vw;
    margin: 3px;
    padding: 3px;

    position: relative;
    z-index: 1;
}

.leaderboardObject::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-color: var(--bg-color);
    opacity: 0.5;
}

.leaderboardObject > img {
    object-fit: contain;
    width: 100%;
}

.leaderboardObject > * {
    margin: 3px;
}

.top3Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    flex-basis: 100%;
}

.top3Container > .leaderboardObject:first-child {
    flex-grow: 2;
}

.top3Container > .leaderboardObject:first-child::before {
    background-color: var(--accent-color-1);
}

.top3Container > .leaderboardObject {
    flex-grow: 1.5;
}

.top3Container > .leaderboardObject::before {
    background-color: var(--text-color);
}

.top3Container > .leaderboardObject:last-child {
    flex-grow: 1;
}

.top3Container > .leaderboardObject:last-child::before {
    background-color: var(--accent-color-2);
}

/* IDs */
#contender1 {
    background-color: var(--highlight-color-1);
}

#contender2 {
    background-color: var(--highlight-color-2);
}

/* media */