/* tags */
body {
    margin: 0;

    --bg-color: #2F2F2F;
    --text-color: #A5A5A5;
    --highlight-color-1: #D64933;
    --highlight-color-2: #3066BE;
    --accent-color-1: #FAF33E;
    --accent-color-2: #CA4000;
}
/* classes */

/* IDs */

/* media */